.wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 90%;
    max-width: 1400px;
    display: grid;
    gap: 84px;
    grid-template-columns: 289px;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .inner {
        grid-template-columns: 289px 1fr;
    }
}

.holder {
    margin: 40px 0;
    color: #8F8F8F;
}

.title {
    font-size: 15px;
    line-height: 18px;
}

.labelField {
    display: flex;
    align-items: center;
    padding: 16px 18px;
    background-color: #FFFFFF;
    border-radius: 19px;
    margin-top: 14px;
    font-size: 15px;
    line-height: 18px;
    color: #3D46A1;
}

.labelField input:checked + span:before {
    opacity: 1;
}

.customRadio {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-color: #F8F8F8;
    border: 1px solid #E0E0E0;
    border-radius: 9px;
    position: relative;
    margin-left: auto;
}

.customRadio:before {
    content: "";
    position: absolute;
    box-sizing: content-box;
    display: block;
    width: 26px;
    height: 26px;
    inset: 3px;
    background-color: #3D46A1;
    border-radius: 8px;
    opacity: 0;
    transition-duration: 0.2s;
}

.boxUploadLarge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #3D46A1;
    height: 100%;
    border-radius: 43px;
    background-color: #F4F5FF;
    cursor: pointer;
}

.boxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    user-select: none;

}

.boxText {
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px;
    color: #A5A8C6;
}

.boxUploadSmall {
    display: flex;
    align-items: center;
    background-color: #F4F5FF;
    border-radius: 19px;
    border: 2px dashed #3D46A1;
    cursor: pointer;
    color: #0094ee;
    transition: scale 0.25s ease-out;
}

.boxUploadSmall:hover {
    scale: 1.03;
}

.boxUploadSmall .boxContent {
    flex-direction: row;
    gap: 15px;
    padding: 16px 18px;
}

.boxUploadSmall .boxText {
    margin-top: 0;
    color: #3d46a1;
}


.loading {
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    from {
        scale: 1.00;
        transform: rotate(0deg);
    }
    to {
        scale: 1.05;
        transform: rotate(360deg);
    }
}

.submitField {
    margin-top: 40px;
}

.submit {
    width: 100%;
    background-color: #3D46A1;
    color: white;
    padding: 16px 0;
    border-radius: 19px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: scale 0.25s;
}

.submit:hover:enabled {
    scale: 1.02;
}

.submit:disabled,
.submit[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.submitError {
    animation: error 600ms ease-in;
    transition: background-color 0.3s;
}

@keyframes error {
    from {
        background-color: #3D46A1;
    }
    30%, 70% {
        background-color: #fc5454;
    }
    to {
        background-color: #3D46A1;
    }
}

.submitSuccess {
    animation: error 600ms ease-in;
    transition: background-color 0.3s;
}

@keyframes success {
    from {
        background-color: #3D46A1;
    }
    30%, 70% {
        background-color: #52fa61;
    }
    to {
        background-color: #3D46A1;
    }
}